@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

:root {
    --primary-color: #0D9488;
}

body {
    font-family: 'Dosis', sans-serif;
}

/* Container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width:600px; /*width of center line*/
    margin: auto;
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color) ;
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

/* Read BEM naming convention */